.center-page
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

body {
    background: linear-gradient(
        to right,
        #212529,
        #495057
                );
}

.box {

    background-color: #212529;

    width: 500px;
    height: 330px;
    border-radius: 40px;
    
    border-color: #212529;

    padding: 50px;
    
    margin: 20px;
    
}

.box2 {

    background-color: #212529;

    width: 500px;
    height: 380px;
    border-radius: 40px;
    
    border-color: #212529;

    padding: 50px;
    
    margin: 20px;
    
}