.center-page
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}