.center-page
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

body {
    background: linear-gradient(
        to right,
        #212529,
        #495057
                );
}